body {
    
    margin: 0 auto;
    /*font-size: 1.2rem;
    font-family: sans-serif;
    */
  }
  
  
  a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
  }
  
  .form-check-input:checked {
  background-color: #ffce09;;
  border-color: #ffce09; 
  }
  
  a:hover {
    border-bottom: 1px solid;
    background: #ffce09;
    color: black;
  }
  
